.banner {
  background-image: linear-gradient(rgba(101, 101, 101, 0.5), rgba(101,101,101,0.5)), url(https://images.unsplash.com/photo-1543508289-2a4346387248?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
